*{
    background-color: antiquewhite;
}

body{
    margin: 1.5rem;
}
header, h1 { 
    display:grid; 
    align-items: center;
    justify-content: center;
}

ul {
    list-style:none;
    display: flex;
}

li {
    padding:1rem;
    margin: 0.5rem;
}

article{
    display:grid;
    align-items: center; 
    justify-content: center; 
    margin:2rem;
}

h2{
    display:flex; 
    align-items: center; 
    justify-content: center;
}

img{
    width:15em; 
    height:20em;
}

section{
    display:grid; 
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 0.75fr
}

footer{
    display:flex; 
    align-items: center; 
    justify-content: center;
}